.titulo{
  font-family: Georgia, 'Times New Roman', Times, serifs;
  font-size: 40px;
  font-weight: bold;
}

.cardM{
  width: 400px;
  transition: 1s;
  background-color: transparent ;
  text-align: justify;
  font-family: Georgia, 'Times New Roman', Times, serifs;
  color: #fff;
}

.cardM:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
  transform: translateY(-20px);
  color: #003566;
}

.card-body{
  transition: 0.2s;
}

.cardM:hover .card-body{
  background-color: #fff;
}

.card-img-top{
  margin-top: 0px;
  padding-top: 0px;
  height: 250px;
  object-fit: cover;
  margin-top: 10px;
  width: 100%;
}

.Linha{
  width: 100%;
  height: 10px;
  background-color: #003566;
  transition: 0.2s;
}

.cardM:hover .Linha{
  background-color:  #fff;
}

.modelo{
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.marca{
  font-size: 15px;
  text-align: center;
  width: 100%;
}

.preco{
  font-size: 25px;
  text-align: right;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
