<!-- <div class="container mt-5 bg-danger">
  <div class="cardM bg-warning" *ngFor="let i of MotosDestaque" style="width: 18rem;">
    <img src="{{i.imagem}}" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div> -->

<div class="container-fluid py-4" style="background: linear-gradient(1deg, #003566, #001d3d);">
  <div class="container mt-0 pb-4">
    <h2 class="text-light titulo">Destaques</h2><hr style="color: antiquewhite;">
      <div class="row d-flex justify-content-center flex-row p-0 m-0">
        <div class="cardM p-0  m-3 " *ngFor="let i of MotosDestaque" >
          <img src="{{i.imagem}}" class="card-img-top m-0" >

          <div class="card-body ">
            <h5 class="modelo"><b>{{i.modelo}}</b></h5>
            <h6 class=" mb-1 marca">{{i.marca}}</h6>
            <p class="preco m-0">R${{i.preco}}</p>
          </div>
          <div class="Linha"></div>
        </div>
    </div>
  </div>
</div>
