<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Carrossel -->
<app-slides></app-slides>

<app-destaques></app-destaques>

<app-cards2></app-cards2>
<!--Cards-->
<app-cards></app-cards>

<app-footer></app-footer>
