<div class="container mt-5">
  <div class="row">
    <div class="col-6 col-sm-12 col-lg-6 ">
      <div class="fundo1 mx-auto">
        <div class="Fundoimagem1 mx-auto">
          <img src="https://www.honda.com.br/motos/sites/hda/files/2017-07/icon-aprenda-pilotar-honda.png" class="mx-auto">
        </div>
        <h1>Aprenda a pilotar</h1>
        <div>
          <p>Conheça as nossas dicas e descubra as melhores práticas de pilotagem para aproveitar tudo que só uma Honda pode proporcionar para você.</p>
        </div>
        <div class=" mt-4 pb-4">
          <button type="button" class="btn CardButton mt-5 ">Primary</button>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-12 col-lg-6 ">
      <div class="fundo2 mx-auto">
        <div class="Fundoimagem2 mx-auto">
          <img src="https://www.honda.com.br/motos/sites/hda/files/2017-07/icon-competicoes-honda.png" class="mx-auto">
        </div>
        <h1>Competições</h1>
        <div>
          <p>Fique por dentro de tudo que acontece nas pistas de corrida. Confira os pilotos, as máquinas e acompanhe a agenda em alta velocidade.</p>
        </div>
        <div class=" mt-4 pb-4">
          <button type="button" class="btn CardButton2 mt-5 ">Primary</button>
        </div>
      </div>
    </div>
  </div>
</div>
