.fundo1{
  background-image: url("https://pbs.twimg.com/media/Dxdvu-7X0AAbL2Z.jpg");
  width: 90%;
}


.Fundoimagem1{
  width: 100%;
}
img{
  object-fit: cover;
  padding-top:  10%;
  transition: 1s;
}

.fundo1:hover img{
  transform: translateY(-20px);
}

h1{
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  transition: 1s;
}

.fundo1:hover h1 {
  transform: translateY(-20px);
}

p{
  font-size: 25px;
  text-align: center;
  margin-top: 10%;
  color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
}

.fundo1:hover p {
  transform: translateY(-20px);
}

.CardButton{
  height: 40px;
  width: 60%;
  border-radius: 7px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: block;
  margin: auto;
  text-align: center;
  background-color: rgb(255, 57, 57);
  transition: 1s;
}

.fundo1:hover  .CardButton{
  transform: translateY(-10px);
  box-shadow: 0 15px 20px #000;
  background-color: rgb(255, 20, 20);
}

button{
  color: white;
}

/* Card 2 */

.fundo2{
  background-image: url("https://img.wallpapic-br.com/i7513-517-31/medium/ceu-nuvens-azuis-claro-imagem-de-fundo.jpg");
  width: 90%;
}


.Fundoimagem2{
  width: 100%;
}
img{
  object-fit: cover;
  padding-top:  10%;
  transition: 1s;
}

.fundo2:hover img{
  transform: translateY(-20px);
}

h1{
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  transition: 1s;
}

.fundo2:hover h1 {
  transform: translateY(-20px);
}

p{
  font-size: 25px;
  text-align: center;
  margin-top: 10%;
  color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
}

.fundo2:hover p {
  transform: translateY(-20px);
}

.CardButton2{
  height: 40px;
  width: 60%;
  border-radius: 7px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: block;
  margin: auto;
  text-align: center;
  background-color: rgb(57, 57, 255);
  transition: 1s;
}

.fundo2:hover  .CardButton2{
  transform: translateY(-10px);
  box-shadow: 0 15px 20px #000;
  background-color: rgb(20, 20, 255);
}

button{
  color: white;
}
