<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">

    <div class="imgNav  me-5" >
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Marca.svg/800px-Marca.svg.png" class="imgNavLogo" >
    </div>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse "id="navbarSupportedContent" >
      <ul class="navbar-nav me-auto mx-auto mb-2 mb-lg-0"  >
        <li class="nav-item">
          <a class="nav-link active text-light" style="font-size: 15px;" aria-current="page" href="#">Sport</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" style="font-size: 15px;" aria-current="page" href="#">Touring</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" style="font-size: 15px;" aria-current="page" href="#">Trail</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light " style="font-size: 15px;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Conta
          </a>
          <ul class="dropdown-menu"  aria-labelledby="navbarDropdown">
            <li style="font-size: 15px;"><a class="dropdown-item" href="#">Cadastre-se
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>

            </a></li>
            <li><a class="dropdown-item" href="#">Entre
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
              </svg>
            </a></li>
          </ul>
        </li>
      </ul>
      <div class="search-box">
        <input type="text" class="search-txt" placeholder="Pesquisar">
        <a href="#" class="search-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="#">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</nav>
