.navbar{
  background: #001d3d;
  transition: 2s;
}



.imgNav{
  height: 30px;
  object-fit: cover;

}

.imgNavLogo{
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-box{
  background: #003566;
  height: 30px;
  padding: 10px;
  width: 200px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #fff;
  width:  100%;
}

.search-btn{
  border-radius: 50%;
}

