<div class="container-fluid fundo  p-0  bg-danger">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="height: 700px;">
    <div class="carousel-indicators">
      <button type="button " data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"  aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"   aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"   aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner m-0">
      <div class="carousel-item active">
        <img src="https://2.bp.blogspot.com/-qrFGNYHwl-U/W6ZJnBELWUI/AAAAAAAAP34/z1gKXgrD0VYJD8K-_z1uT8rUe3fDLY3UACLcBGAs/w0/road_sunset_marking_grass_102104_3840x2400.jpg" class="d-block w-100 imgS" >
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://tudodemotos.com.br/wp-content/uploads/2019/04/tn_Harley_aluguel-FXDR114-800x533.jpg" class="d-block w-100 imgS"  alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://cdn.motor1.com/images/mgl/wbVvE/s3/avaliacao-kawasaki-ninja-1000-2015-empolga-estradeiros-de-mao-cheia.webp" class="d-block w-100 imgS" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
