footer{
  background: linear-gradient(1deg, #000814, #001d3d);
}

h5{
  font-size: 20px;
  text-align: left;
  color: #ffc300;
}

a{
  color: #fff;
  transition: 0.5s;
}

a:hover{
  color: #ffd60a;
}
